:root {
    --background-body: #eee;
    --quote1: 'Pacifico', cursive;
    --quote3: #e8505b;
    --quote2: #b83b5e;
    --heading: 'Bangers', cursive;
    --quote: 'Indie Flower', cursive;
    --text-main-date: 'Noto Sans JP', sans-serif;
}

/* --------------------------------   tags css  ----------------------------------- */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-body);
}

header {
    display: flex;
}

main {
    border: var(--borderForComponents);
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-right: 2rem;
}

sidebar {
    width: 30%;
    border: var(--borderForComponents);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin: 3.5rem auto;
    padding: 3rem;
    border-radius: 20px;
    background: #ddd;
}

h2 {
    text-align: center;
    font-family: var(--heading);
    letter-spacing: 0.7rem;
    font-size: 3rem;
    color: #999;
}

/* --------------------------------  tags css  ----------------------------------- */

/* --------------------------------   Header   ----------------------------------- */

.header {
    background: url("./img/Elon_musk_main.jpg");
    width: 50rem;
    min-width: 20;
    background-size: cover;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100);
    margin: 2rem;
    height: 89vh;
}

.quote1 {
    font-family: var(--quote1);
    width: 60rem;
    font-size: 2rem;
    margin: auto;
    text-align: start;
}

.quote1 p {
    text-align: center;
}

h1 {
    text-align: center;
}

/* --------------------------------   Header   ----------------------------------- */

/* --------------------------------    div content   ----------------------------------- */

.content {
    display: flex;
    justify-content: center;
}

/* --------------------------------    div content   ----------------------------------- */

/* --------------------------------    main   ----------------------------------- */

#main-content {
    margin-left: 3rem;
}

.container-info {
    display: flex;
    justify-content: center;
    border-top: 2px solid grey;
    min-height: 50px;
}

.container-info .date {
    margin: auto;
    width: 15%;
    font-family: var(--text-main-date);
    font-weight: bold;
    padding-right: 0.5rem;
}

.container-info .detail {
    background: #ddd;
    padding: 1rem;
    width: 80%;
    font-family: var(--text-main-date);
}

#main-content:last-child {
    border-bottom: 2px solid grey;
}

/* --------------------------------    main   ----------------------------------- */

/* --------------------------------   sidebar ----------------------------------- */

sidebar img {
    width: 15rem;
    margin: 0 auto;
    padding: 0 1rem 1.5rem;
    border-radius: 5px;
}

.container-info-side {
    padding-left: 2rem;
    display: flex;
}

.container-info-side .title {
    width: 6rem;
    min-height: 4rem;
    padding-right: 1rem;
    font-family: var(--text-main-date);
    font-weight: bold;
}

.container-info-side .info {
    width: 10rem;
    min-height: 4rem;
    font-family: var(--text-main-date);
}

.container-info-side .info div:last-child {
    border-bottom: 1px solid grey;
}

/* --------------------------------  sidebar  ----------------------------------- */

/* --------------------------------  footer  ----------------------------------- */

footer .footer-item {
    text-align: center;
}

.quote {
    font-family: var(--quote);
    font-size: 1.4rem;
    margin: 2rem auto;
    text-align: center;
}

.quote2, .quote4 {
    color: var(--quote2)
}

.quote3, .quote5 {
    color: var(--quote3);
}

/* --------------------------------  footer  ----------------------------------- */

/* ----------------------------------media queries----------------------------------------- */

@media screen and (max-width: 768px) {
    .header {
        display: none;
    }
    sidebar{
        background: rgba(232, 80, 91, 0.2);
        border-radius: 30%;
       
    }
    .content {
        flex-direction: column-reverse;
        align-items: center;
    }
    main {
        width: 100%;
        padding-right: 0;
        margin: auto;
    }
    sidebar {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .quote1 {
        margin: 1rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    .quote1 p {
        font-size: 1.5rem;
    }
    footer h2 {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }
    footer p {
        font-size: 1.2rem!important;
    }
}

@media screen and (max-width: 480px) {
    sidebar{
        background: initial;
        border-radius: none;
    }
    h1 {
        font-size: 2rem;
    }
    .quote1 p {
        font-size: 1.3rem;
    }
    .container-info .detail {
        font-size: 0.8rem;
    }
    .container-info .date {
        font-size: 0.8rem;
    }
    .container-info-side .info {
        font-size: 0.8rem;
    }
    .container-info-side .title {
        font-size: 0.8rem;
    }
    footer h2 {
        font-size: 1.5rem;
        letter-spacing: 0.5rem;
    }
    footer p {
        font-size: 1rem!important;
        color: var(--quote2)!important;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 1.6rem;
    }
    .quote1 p {
        font-size: 1rem;
    }
    .container-info .detail {
        font-size: 0.7rem;
    }
    .container-info .date {
        font-size: 0.7rem;
    }
    .container-info-side .info {
        font-size: 0.7rem;
    }
    .container-info-side .title {
        font-size: 0.7rem;
    }
    footer h2 {
        font-size: 1.2rem;
        letter-spacing: 0.5rem;
    }
    footer p {
        font-size: 0.85rem!important;
    }
}

/* ----------------------------------media queries----------------------------------------- */