:root {
    --background-body: #eee;
    --quote1: 'Pacifico', cursive;
    --quote3: #e8505b;
    --quote2: #b83b5e;
    --heading: 'Bangers', cursive;
    --quote: 'Indie Flower', cursive;
    --text-main-date:'Noto Sans JP', sans-serif;
}

/* --------------------------------   tags css  ----------------------------------- */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-body);
}

header {
    height: 100vh;
    display: flex;
}

main {
    border: var(--borderForComponents);
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-right: 2rem;
}

sidebar {
    width: 30%;
    border: var(--borderForComponents);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin: 3.5rem auto;
    padding: 3rem;
    border-radius: 20px;
    width: 60rem;
    background: #ddd;
    height: 85vh;
}

h2 {
    text-align: center;
    font-family: var(--heading);
    letter-spacing: 0.7rem;
    font-size: 3rem;
    color: #999;
}

/* --------------------------------  tags css  ----------------------------------- */

/* --------------------------------   Header   ----------------------------------- */

.header {
    background: url("./img/Elon_musk_main.jpg");
    width: 50rem;
    min-width: 20;
    background-size: cover;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100);
    margin: 2rem;
}

.quote1 {
    font-family: var(--quote1);
    width: 60rem;
    font-size: 2rem;
    margin: auto;
    text-align: start;
}

/* --------------------------------   Header   ----------------------------------- */

/* --------------------------------    div content   ----------------------------------- */

.content {
    display: flex;
    justify-content: center;
}

/* --------------------------------    div content   ----------------------------------- */

/* --------------------------------    main   ----------------------------------- */

#main-content {
    margin-left: 3rem;
}

.container-info {
    display: flex;
    justify-content: center;
    border-top: 2px solid grey;
    min-height: 50px;
}

.container-info .date {
    margin: auto;
    width: 15%;
    font-family: var(--text-main-date);
    font-weight: bold;
}

.container-info .detail {
    background: #ddd;
    padding: 1rem;
    width: 80%;
    font-family: var(--text-main-date);
}

#main-content:last-child {
    border-bottom: 2px solid grey;
}

/* --------------------------------    main   ----------------------------------- */

/* --------------------------------   sidebar ----------------------------------- */

sidebar img {
    width: 15rem;
    margin: 0 auto;
    padding: 0 1rem 1.5rem;
    border-radius: 5px;
}

.container-info-side {
    padding-left: 2rem;
    display: flex;
}

.container-info-side .title {
    width: 6rem;
    min-height: 4rem;
    padding-right: 1rem;
    font-family: var(--text-main-date);
    font-weight: bold;
}

.container-info-side .info {
    width: 10rem;
    min-height: 4rem;
    font-family: var(--text-main-date);
}

.container-info-side .info div:last-child{
    border-bottom: 1px solid grey;
}

/* --------------------------------  sidebar  ----------------------------------- */

/* --------------------------------  footer  ----------------------------------- */

footer .footer-item {
    text-align: center;
}

.quote {
    font-family: var(--quote);
    width: 60rem;
    font-size: 1.4rem;
    margin: 2rem auto;
    text-align: center;
}

.quote2, .quote4 {
    color: var(--quote2)
}

.quote3, .quote5 {
    color: var(--quote3);
}

footer p:last-child {
    font-size: 7rem;
    font-family: var(--quote1);
    margin: auto;
    color: rgb(84, 84, 230)
}

/* --------------------------------  footer  ----------------------------------- */

/* ----------------------------------media queries----------------------------------------- */

/* ----------------------------------media queries----------------------------------------- */